name: Run clippy and build

on:
  push:
    branches: [master, staging, trying]
  pull_request:
    branches: [master]
  schedule:
    - cron: "19 2 * * 4"

env:
  CARGO_TERM_COLOR: always

jobs:
  clippy:
    name: Lints
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - run: sudo apt-get update
      - run: sudo apt-get install libatk1.0-dev libgtk-3-dev libgdk3.0-cil-dev
      - uses: dtolnay/rust-toolchain@nightly
        with:
          components: rustfmt, clippy
      - run: cargo fmt --all -- --check
      - run: cargo clippy

  build-macos:
    name: Build macOS
    runs-on: macos-latest
    steps:
      - uses: actions/checkout@v4
      - uses: dtolnay/rust-toolchain@nightly
        with:
          targets: x86_64-apple-darwin, aarch64-apple-darwin
      - run: cargo install cargo-bundle
      - run: mkdir -p OutDebug
      - run: mkdir -p Out
      - run: cargo bundle --target x86_64-apple-darwin
      - run: cargo bundle --release --target x86_64-apple-darwin
      - run: cargo bundle --target aarch64-apple-darwin
      - run: cargo bundle --release --target aarch64-apple-darwin
      - run: tar -cvf OutDebug/macOSDebug.tar -C target/x86_64-apple-darwin/debug/bundle/osx/ $(ls target/x86_64-apple-darwin/debug/bundle/osx/)
      - run: tar -cvf Out/macOSRelease.tar -C target/x86_64-apple-darwin/release/bundle/osx/ $(ls target/x86_64-apple-darwin/release/bundle/osx/)
      - run: tar -cvf OutDebug/macOSDebugAppleSilicon.tar -C target/aarch64-apple-darwin/debug/bundle/osx/ $(ls target/aarch64-apple-darwin/debug/bundle/osx/)
      - run: tar -cvf Out/macOSReleaseAppleSilicon.tar -C target/aarch64-apple-darwin/release/bundle/osx/ $(ls target/aarch64-apple-darwin/release/bundle/osx/)
      - uses: actions/upload-artifact@v4.4.2
        with:
          name: macOS Debug
          path: OutDebug/macOSDebug.tar
      - uses: actions/upload-artifact@v4.4.2
        with:
          name: macOS Release
          path: Out/macOSRelease.tar
      - uses: actions/upload-artifact@v4.4.2
        with:
          name: macOS Apple Silicon Debug
          path: OutDebug/macOSDebugAppleSilicon.tar
      - uses: actions/upload-artifact@v4.4.2
        with:
          name: macOS Apple Silicon Release
          path: Out/macOSReleaseAppleSilicon.tar

  build-linux:
    name: Build Linux
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - run: sudo apt-get update
      - run: sudo apt-get install libatk1.0-dev libgtk-3-dev libgdk3.0-cil-dev
      - uses: dtolnay/rust-toolchain@nightly
      - run: cargo install cargo-bundle
      - run: cargo bundle
      - run: cargo bundle --release
      - uses: actions/upload-artifact@v4.4.2
        with:
          name: Linux Debug
          path: target/debug/bundle/deb/*.deb
      - uses: actions/upload-artifact@v4.4.2
        with:
          name: Linux Release
          path: target/release/bundle/deb/*.deb

  build-windows:
    name: Build Windows
    runs-on: windows-latest
    steps:
      - uses: actions/checkout@v4
      - uses: dtolnay/rust-toolchain@nightly
      - run: cargo build -Zunstable-options --out-dir=out-debug
      - run: cargo build --release -Zunstable-options --out-dir=out
      - uses: actions/upload-artifact@v4.4.2
        with:
          name: Windows Debug
          path: out-debug/*.exe
      - uses: actions/upload-artifact@v4.4.2
        with:
          name: Windows Release
          path: out/*.exe
